<p id="notice"><%= notice %></p>

<p>
  <b>Cffrate:</b>
  <%= @cff.cffrate %>
</p>

<p>
  <b>Objectid:</b>
  <%= @cff.ObjectID %>
</p>

<p>
  <b>Systemcffobjectid:</b>
  <%= @cff.SystemCFFObjectID %>
</p>

<p>
  <b>Franchiseobjectid”integer:</b>
  <%= @cff.FranchiseObjectID”integer %>
</p>


<%= link_to 'Edit', edit_cff_path(@cff) %> |
<%= link_to 'Back', cffs_path %>
