<h1>Editing <%=@person.full_name%> - edit - <%=link_to 'User Person',edit_user_person_path(@person.user_person)%> </h1>

<%= render 'form' %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
