<p id="notice"><%= notice %></p>

<p>
  <b>Objectid:</b>
  <%= @instructoraccount.ObjectID %>
</p>

<p>
  <b>Status:</b>
  <%= @instructoraccount.Status %>
</p>

<p>
  <b>Instructorobjectid:</b>
  <%= @instructoraccount.InstructorObjectID %>
</p>

<p>
  <b>Facilityobjectid:</b>
  <%= @instructoraccount.FacilityObjectID %>
</p>

<p>
  <b>Name:</b>
  <%= @instructoraccount.Name %>
</p>

<p>
  <b>Franchiseobjectid:</b>
  <%= @instructoraccount.FranchiseObjectID %>
</p>

<p>
  <b>Newinstructor:</b>
  <%= @instructoraccount.NewInstructor %>
</p>

<p>
  <b>Jbsaccountobjectid:</b>
  <%= @instructoraccount.JBSAccountObjectID %>
</p>


<%= link_to 'Edit', edit_instructoraccount_path(@instructoraccount) %> |
<%= link_to 'Back', instructoraccounts_path %>
