<p id="notice"><%= notice %></p>

<p>
  <b>Insurancestartdate:</b>
  <%= @instructor.InsuranceStartDate %>
</p>

<p>
  <b>Insprintcertificate:</b>
  <%= @instructor.InsPrintCertificate %>
</p>

<p>
  <b>Breachdate:</b>
  <%= @instructor.BreachDate %>
</p>

<p>
  <b>Monitoredpass:</b>
  <%= @instructor.MonitoredPass %>
</p>

<p>
  <b>Psalevel:</b>
  <%= @instructor.PSALevel %>
</p>

<p>
  <b>Psayear:</b>
  <%= @instructor.PSAYear %>
</p>

<p>
  <b>Printnewinst:</b>
  <%= @instructor.PrintNewInst %>
</p>

<p>
  <b>Coordinator:</b>
  <%= @instructor.Coordinator %>
</p>

<p>
  <b>Catalogcount:</b>
  <%= @instructor.CatalogCount %>
</p>

<p>
  <b>Objectid:</b>
  <%= @instructor.ObjectID %>
</p>

<p>
  <b>Mediacount:</b>
  <%= @instructor.MediaCount %>
</p>

<p>
  <b>Substitutefeepayed:</b>
  <%= @instructor.SubstituteFeePayed %>
</p>

<p>
  <b>Musicascappaid:</b>
  <%= @instructor.MusicASCAPPaid %>
</p>

<p>
  <b>Status:</b>
  <%= @instructor.Status %>
</p>

<p>
  <b>Insuranceenddate:</b>
  <%= @instructor.InsuranceEndDate %>
</p>

<p>
  <b>Insurancepaid:</b>
  <%= @instructor.InsurancePaid %>
</p>

<p>
  <b>Cprexpirationdate:</b>
  <%= @instructor.CPRExpirationDate %>
</p>

<p>
  <b>Insurancetypeobjectid:</b>
  <%= @instructor.InsuranceTypeObjectID %>
</p>

<p>
  <b>Monassistobjectid:</b>
  <%= @instructor.MonAssistObjectID %>
</p>

<p>
  <b>Printresign:</b>
  <%= @instructor.PrintResign %>
</p>

<p>
  <b>Trainer:</b>
  <%= @instructor.Trainer %>
</p>

<p>
  <b>Workshopgrade:</b>
  <%= @instructor.WorkshopGrade %>
</p>

<p>
  <b>Breachstatus:</b>
  <%= @instructor.BreachStatus %>
</p>

<p>
  <b>Substitutefeebilled:</b>
  <%= @instructor.SubstituteFeeBilled %>
</p>

<p>
  <b>Instructorid:</b>
  <%= @instructor.InstructorID %>
</p>

<p>
  <b>Datecertified:</b>
  <%= @instructor.DateCertified %>
</p>

<p>
  <b>Workshopteststatus:</b>
  <%= @instructor.WorkshopTestStatus %>
</p>

<p>
  <b>Breachamount:</b>
  <%= @instructor.BreachAmount %>
</p>

<p>
  <b>Notes:</b>
  <%= @instructor.Notes %>
</p>

<p>
  <b>Monitoreddate:</b>
  <%= @instructor.MonitoredDate %>
</p>

<p>
  <b>Printtraineelbl:</b>
  <%= @instructor.PrintTraineeLbl %>
</p>

<p>
  <b>Monassistvideo:</b>
  <%= @instructor.MonAssistVideo %>
</p>

<p>
  <b>Personobjectid:</b>
  <%= @instructor.PersonObjectID %>
</p>

<p>
  <b>Statusreason:</b>
  <%= @instructor.StatusReason %>
</p>

<p>
  <b>Workshopobjectid:</b>
  <%= @instructor.WorkshopObjectID %>
</p>

<p>
  <b>Mediaformat:</b>
  <%= @instructor.MediaFormat %>
</p>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
