<p id="notice"><%= notice %></p>

<p>
  <b>Comments:</b>
  <%= @franchise.Comments %>
</p>

<p>
  <b>Printletter:</b>
  <%= @franchise.PrintLetter %>
</p>

<p>
  <b>Floatingsub:</b>
  <%= @franchise.FloatingSub %>
</p>

<p>
  <b>Instructoraccountobjectid:</b>
  <%= @franchise.InstructorAccountObjectID %>
</p>

<p>
  <b>Objectid:</b>
  <%= @franchise.ObjectID %>
</p>

<p>
  <b>Franchisetypeaddendum:</b>
  <%= @franchise.FranchiseTypeAddendum %>
</p>

<p>
  <b>Dateacknowledged:</b>
  <%= @franchise.DateAcknowledged %>
</p>

<p>
  <b>Beginningrptdate:</b>
  <%= @franchise.BeginningRptDate %>
</p>

<p>
  <b>Instructorobjectid:</b>
  <%= @franchise.InstructorObjectID %>
</p>

<p>
  <b>Dateagreementsigned:</b>
  <%= @franchise.DateAgreementSigned %>
</p>

<p>
  <b>Datetrainingmatsent:</b>
  <%= @franchise.DateTrainingMatSent %>
</p>

<p>
  <b>Franchisetype:</b>
  <%= @franchise.FranchiseType %>
</p>

<p>
  <b>Districtobjectid:</b>
  <%= @franchise.DistrictObjectID %>
</p>

<p>
  <b>Expirationdate:</b>
  <%= @franchise.ExpirationDate %>
</p>

<p>
  <b>Cffdate:</b>
  <%= @franchise.CFFDate %>
</p>

<p>
  <b>Feercvd:</b>
  <%= @franchise.FeeRcvd %>
</p>

<p>
  <b>Feeamount:</b>
  <%= @franchise.FeeAmount %>
</p>

<p>
  <b>Dateapplicationrcvd:</b>
  <%= @franchise.DateApplicationRcvd %>
</p>

<p>
  <b>Datecsprinted:</b>
  <%= @franchise.DateCSPrinted %>
</p>

<p>
  <b>Inactive:</b>
  <%= @franchise.Inactive %>
</p>

<p>
  <b>Dateagreementsent:</b>
  <%= @franchise.DateAgreementSent %>
</p>

<p>
  <b>Cffpctcalc:</b>
  <%= @franchise.CFFPctCalc %>
</p>

<p>
  <b>Mainfranchise:</b>
  <%= @franchise.MainFranchise %>
</p>

<p>
  <b>Monthlymin:</b>
  <%= @franchise.MonthlyMin %>
</p>


<%= link_to 'Edit', edit_franchise_path(@franchise) %> |
<%= link_to 'Back', franchises_path %>
